# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=d9ff330a787424787473c3a36ab7231f2ccff39f5641abfa3509a966dec7f26c93d5ef2311c017a1eba2cb23edcd5e8f54efc22df66d761d5b81cbfcb5da4fb5
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
